<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers</title>
</head>
<body>
<!--See: https://www.toptal.com/spring/beginners-guide-to-mvc-with-spring-framework-->
    <form th:action="@{/editCustomerEditStep3}" method="get" enctype="multipart/form-data" >
        <select name="parameterPassedToHandler_id">
            <option th:each="customer : ${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.name}">Customer</option>
        </select>

        <input type="submit" value="Choose customer"/>
    </form>
</div>
</body>
</html>






